html,
body {
    color: #000;
    font-family: "Noto Sans", sans-serif;
}

h1,
h2 {
    font-weight: bold;
}

h3::before {
    background-image: url("../images/assets/better-football.png");
    background-size: 20px 20px;
    content: "";
    display: inline-block;
    height: 20px;
    margin-right: .5rem;
    width: 20px;
}

.article--aside a {
    border-bottom: 1px solid #000;
    color: #000;
    text-decoration: none;
}

.article--aside a:hover {
    border-bottom: none;
    background: #fcf8e3;
}

.related-link {
    margin-bottom: .33rem;
}

.related-link:last-child {
    margin-bottom: 0;
}

main {
    margin-top: 110px;
}

/* === GENERAL === */

.top {
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 0;
    z-index: -999;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.spoiler {
    background: #000;
    color: #000;
    cursor: default;
}

.spoiler:hover {
    background: inherit;
    color: inherit;
}

.emphasize-quote::before {
    content: "“";
}

.emphasize-quote::after {
    content: "”";
}

.blockquote {
    border-left-color: #eee;
}

.jumptarget::before {
    content: "";
    display: block;
    height: 72px;
    margin: -72px 0 0;
    pointer-events: none;
}

.subtitle {
    border-bottom: 1px solid #000;
    font-weight: bold;
    line-height: 1rem;
    padding-bottom: 1rem;
    padding-top: .25rem;
    position: relative;
    z-index: 998;
}

.img-util {
    display: inline-block;

}

.img-util__responsive-50 {
    width: 50%;
}

.blockquote-footer::before {
    background-image: url("../images/assets/spoon-quote.png");
    background-size: 45px 9px;
    content: "";
    display: inline-block;
    height: 9px;
    margin-bottom: .07rem;
    margin-right: .5rem;
    width: 45px;
}

.tommy-img {
    position: relative;
}

.tommy-img:hover .tommy-img__photo {
    right: calc(50% - 50px);
    top: -70px;
}

.tommy-img__photo {
    display: block;
    height: 100px;
    position: absolute;
    right: calc(50% - 50px);
    top: 0;
    transform: rotate(0);
    transition: right .5s, top .5s;
    width: 100px;
    z-index: 0;
}

.tommy-img__main {
    position: relative;
    z-index: 1;
}

/* === BRAND === */

.brand {
    cursor: default;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.19rem;
    text-transform: uppercase;
    width: 50px;
}

.brand--transition {
    height: 76px;
    transform: scale(1);
    transform-origin: top left;
    transition: transform .5s, height .5s;
}

.brand__container {
    padding: 1rem 0 .8rem 1rem;
    position: relative;
}

.brand__background {
    position: absolute;
    top: 1rem;
    transition: width .5s;
    width: 190px;
    z-index: -1;
    opacity: .25;
}

.header__bar--sm .brand__background {
    width: 108px;
}

.brand--transition.brand--sm {
    height: 38px;
    transform: scale(0.5);
}

.brand .brand__ref {
    color: inherit;
    position: relative;
    text-decoration: none;
    z-index: 999;
}

.brand--right {
    direction: rtl;
    font-size: 2rem;
    line-height: 1.7rem;
    margin-left: auto;
}

/* === ARTICLE === */

.article {
    border-right: .35rem solid #000;
}

.article__content {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.article__row {
    padding-right: 1rem;
}

.article__section>p:last-child {
    margin: 0;
}

.article__section {
    margin-bottom: 1rem;
}

.article__section--aside {
    padding-top: 1rem;
}

.article__section>p,
.article__section>ol {
    font-family: "Lora", serif;
}

.article__section--intro {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.article__section--intro>p {
    font-family: inherit;
}

.article__title {
    border-bottom: 1px solid #000;
    margin: 0;
    padding-bottom: 1rem;
}

.article__authors {
    color: #bbb;
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

/* === HEADER === */

.header {
    background: #fff;
}

.header__bar {
    border-bottom: .35rem solid #000;
    overflow: hidden;
    padding: 0;
}

.nav-box__spoon {
    pointer-events: none;
    display: none;
    left: 1rem;
    margin: 0;
    position: absolute;
    top: .5rem;
    width: 3.5rem;
}

.nav-box__container {
    position: relative;
    display: table-cell;
}

.nav-box__ref:hover+.nav-box__spoon,
.nav-box__ref:focus+.nav-box__spoon,
.nav-box__ref--active+.nav-box__spoon {
    display: block;
}

.nav-box__ref {
    color: #000;
    display: block;
    font-weight: bold;
    line-height: .55rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

.header__hamburger {
    background: #000;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: .5rem .5rem 0 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}

.nav-box__ref:hover,
.nav-box__ref--active,
.nav-box__ref:focus {
    background: #000;
    color: #fff;
    text-decoration: none;
}

.nav-box {
    background: #fff;
    border-top: .35rem solid #000;
}

/* === FOOTER === */

.footer {
    background: #000;
    color: #fff;
}

.footer__right {
    margin-left: auto;
}

.footer--padding {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.footer__column {
    border-bottom: .2rem solid #fff;
    margin-top: 2rem;
    padding-bottom: .5rem;
}

.footer__column--padding-lg {
    padding-bottom: .7rem;
}

/* === CONTACT === */

.contact {
    font-size: 0.75rem;
}

.contact__name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.contact__list {
    margin: 0;
}

.contact .contact__ref {
    color: #fff;
    text-decoration: none;
}

.contact__ref:hover {
    border-bottom: 1px solid #fff;
}

@media screen and (min-width: 768px) {
    .img-util__responsive-50 {
        width: 100%;
    }

    .article__content {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    .subtitle {
        padding-bottom: 1.5rem;
    }

    .footer__column {
        margin-top: 0;
    }

    .footer--padding {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }

    .article--aside {
        border: none;
    }

    .article__title--aside {
        font-weight: normal;
        border-bottom: 1px solid #000;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .article__section--aside {
        padding-top: 0;
    }

    /*}*/

    /*@media screen and (min-width: 992px) {*/
    main {
        margin-top: 142px;
    }

    .jumptarget::before {
        height: 88px;
        margin: -88px 0 0;
    }

    .brand {
        font-size: 2rem;
        line-height: 1.7rem;
    }

    .brand--transition {
        height: 108px;
    }

    .brand--transition.brand--sm {
        height: 54px;
    }

    .nav-box {
        background: transparent;
        border-top: none;
    }

    .brand__background {
        width: 300px;
    }

    .header__bar--sm .brand__background {
        width: 168px;
    }

    .nav-box__spoon {
        left: auto;
        margin: 0 auto .33rem auto;
        position: relative;
        top: auto;
        width: 4rem;
    }
}

@media print {
    .print-absolute {
        position: absolute;
    }

    .print-hidden {
        display: none;
    }
}